<table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Thiết bị</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Thông tin</th> 
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Đèn phòng ngủ</td>
        <td><img style="margin-left: 25px;"  [src]="imagePathLamp" /></td>
        <td>{{lampStatus}}</td>
        <td> 
          <button type="button" (click)="clickOnLamp()" class="btn btn-info">Bật</button> 
          <button type="button" (click)="clickOffLamp()" class="btn btn-danger">Tắt</button> 
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Quạt phòng ngủ</td>
        <td><img style="margin-left: 25px;" [src]="imagePathFan"/></td>
        <td>{{fanStatus}}</td>
        <td> 
          <button type="button" (click)="clickOnFan()" class="btn btn-info">Bật</button> 
          <button type="button" (click)="clickOffFan()" class="btn btn-danger">Tắt</button> 
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>TB3</td>
        <td>TT3</td>
        <td>TT3</td>
        <td> 
          <button type="button" (click)="clickOnTB3()" class="btn btn-info">Bật</button> 
          <button type="button" (click)="clickOffTB3()" class="btn btn-danger">Tắt</button> 
        </td>
      </tr>
    </tbody>
  </table>