<header>
  <!-- <div style="margin-left: 300px;"><h2>Nhiệt độ hôm nay</h2></div> -->
    <div class="f fe">
      <div>
        <img src="https://img.icons8.com/office/40/000000/partly-cloudy-night--v1.png"/>
      </div>
      <div class="heading">
        <h5 class="date">05 Jan 2022</h5>
        <h2 class="title">Cloudy</h2>
      </div>
    </div>

    <div class="weather f">
      <div>
        <strong>{{temp}}<sup>°C</sup></strong>
        <p>Nhiệt độ</p>
      </div>
      <div>
        <strong>{{humidity}}%</strong>
        <p>Độ ẩm</p>
      </div>

      <div>
        <strong>{{speed}} m/s</strong>
        <p>Tốc độ gió</p>
      </div>

      <div>
        <strong>{{feels_like}}<sup>°C</sup></strong>
        <p>Cảm nhận thực</p>
      </div>
    </div>
  </header>