<!-- <div class="appliances"  onload="createConnectToServer()"> -->
  <div class="appliances">
  <div class="appliance" (click)="clickme()">
        <!-- <input type="checkbox" name="a" id="a"> -->
        <label for="a">
          <i class="l"></i>
          <strong>DEV1</strong>
          <span data-o="opened" data-c="closed"></span>
          <small></small>
          <!-- <a routerLink="/bedroom-detail" routerLinkActive="active"> <button type="button" class="btn btn-light">Phòngngủ</button> </a>
          <span data-o="opened" data-c="closed"></span> -->
          <small></small>
        </label>
    </div>
 
    

    <div class="appliance" >
      <!-- <input type="checkbox" name="a" id="b"> -->
      <label for="b" > 
        <i class="r"></i>
        <strong >DIV2</strong>
        <!-- <span data-o="opened" data-c="closed"></span> -->
        <small></small>
      </label>
    </div>
    
    <div class="appliance">
      <!-- <input type="checkbox" name="a" id="c"> -->
      <label for="c">
        <i class="a"></i>
        <strong>DIV3</strong>
        <!-- <span data-o="opened" data-c="closed"></span> -->
        <small></small>
      </label>
    </div>
    
    <div class="appliance" >
      <!-- <input type="checkbox" name="a" id="d"> -->
      <label for="d">
        <i class="f"></i>
        <strong>DIV4</strong>
        <!-- <span data-o="opened" data-c="closed"></span> -->
        <small></small>
      </label>
    </div>
<!--     
    <div class="m-player">
      <h2>Shared Devices</h2>
      <div class="player">
        <div class="disc"></div>
        <div class="artist">
          <p>Rosetta Stoned</p>
          <small>Tool</small>
        </div>
        <div class="controls">
          <input type="checkbox" name="a" id="p">
          <label for="p">
            <div class="control"></div>
          </label>
        </div>
      </div>
    </div>   -->
  </div>