
<div class="body1">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <form class="form1">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Enter Account"
                   formControlName="email">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Enter Password"
                   formControlName="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a> &nbsp; &nbsp; &nbsp;
            <a class="underlineHover" >Register</a>
          </div>
        </div>
      </div>
</div>